{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-remove-strict-mode",
    "transform-async-generator-functions",
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
