{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": true,
      "modules": false
    }]
  ],
  "plugins": [
    "tcomb",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-remove-strict-mode",
    "react-hot-loader/babel"
  ]
}
