@import "base"; 
@import "input"; 

.unpinned {}
.darkTheme {}

.chat {
  background-color: $darkWhite;
  width: $chatWidth;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  :global(.dark) & {
    background-color: $darkGray;
  }

  &.unpinned {
    top: auto;
    background: transparent;
    border-color: transparent;
    align-self: flex-end;
  }
}

.messages {
  padding: 0 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 315px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .unpinned & {
    flex: none;
    overflow: hidden;
  }
}

.message {
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid $borderColorGray;
  border-bottom: 2px solid $borderColorGray;
  background-color: $white;
  max-width: 280px;
  display: inline-block;

  :global(.dark) & {
    border: 1px solid $borderColorDark;
    border-bottom: 2px solid $borderColorDark;
    background-color: $darkGray;
  }

  .unpinned & {
    border: 1px solid $lightGray;
    border-bottom: 2px solid $borderColorLight;

    :global(.dark) & {
      border: 1px solid $borderColorDark;
      border-bottom: 2px solid $borderColorDark;
    }
  }
}
  .messageFrom {
    font-weight: bold;
    font-size: 1.3rem;
    color: $darkGray;
    padding: 0.5rem 1rem 0;

    :global(.dark) & {
      color: $lightGray;
    }
  }
  .messageText {
    padding: 0 1rem 0.5rem;
  }
  .messageResult {
    background-color: $borderColorGray;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: 3px;

    :global(.dark) & {
      background-color: $borderColorDark;
    }

    .unpinned & {
      background-color: $borderColorLight;

      :global(.dark) & {
        background-color: $borderColorDark;
      }
    }
  }

.button {
  color: $lightGray;
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  margin-top: 1.2rem;
  border-radius: 4px;
  background-color: $darkGray;
  position: absolute;
  right: 2.4rem;

  .unpinned & {
    position: static;
    margin-left: 2.4rem;
    margin-top: 0;
    background-color: $lightGray;
    color: $darkGray;
  }

  &:hover {
    color: white;
    background-color: $red;
    cursor: pointer;
  }
}
