@import 'base';

.profile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 100px;
}

.photo {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $borderColorLight;
  cursor: pointer;
}

.name {
  position: absolute;
  top: 0;
  left: 80px;
  line-height: 100px;
  font-size: 2rem;
  font-family: 'Alice';
}

.login {
  font-family: 'Cinzel Decorative';
  position: absolute;
  top: 25px;
  height: 50px;
  width: 260px;
  left: 20px;
  line-height: 50px;
  font-size: 2rem;
  background-color: #ff974f;
  color: black;
  border: 1px solid #fffbdc;
  text-align: center;
  box-shadow: inset 0 0 15px 0 #f54f29;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
  .login:hover {
    background-color: #fffbdc;
    transition: background 0.2s ease-out;
  }
