/* Universal colors */
$red: #bf3542;
$yellow: #ff974f;
$green: #8c9b7a;
$blue: #046380;
$lightBlue: #057091;

/* Light */
$bgPrimary: #f7f7f7;
$bgSecondary: #ebe3d6;
/* $bgTertiary: #cdc5ba; */
$map: #BFBCA5;
$fgPrimary: black;
$fgSecondary: #3c3c3c;
$fgMedium: #999;
$borderColorLight: #ADAB96;

/* Dark */
$bgPrimaryDark: #3c3c3c;
$bgSecondaryDark: #2b2b2b;
$mapDark: #1a1a1a;
$fgPrimaryDark: #eee;
$fgSecondaryDark: #cdc5ba;
$fgMediumDark: #999;
$borderColorDark: #1a1a1a;

/* Sizes */
$fontSize: 1.5rem;
$lineUnit: 2.4rem;

$chatWidth: 300px;
$toolbarHeight: 4.8rem;
