$red: #bf3542;
$yellow: #ff974f;
$green: #8c9b7a;

$lightGray: #cdc5ba;
$veryLightGray: #ebe3d6;
$darkGray: #3c3c3c;
$veryDarkGray: #2e2e2e;

$white: #f7f7f7;

$borderColorLight: #ADAB96;
$borderColorDark: #1a1a1a;

/* Sizes */
$fontSize: 1.5rem;
$lineUnit: 2.4rem;

$chatWidth: 300px;
$toolbarHeight: 4.8rem;
