@import "base";


@define-placeholder input {
  height: 3.6rem;
  padding: 6px 1rem;
  border: 1px solid $borderColorLight;
  border-radius: 4px;
}
  @define-placeholder inputDark {
    border-color: $borderColorDark;
  }
