@import 'base';

@define-placeholder header {
  font-size: 2.4rem;
  font-family: 'Alice';
  color: $veryDarkGray;
  line-height: $line-unit;
  margin-bottom: 1.2rem;
}
  @define-placeholder headerDark {
    color: $lightGray;
  }

@define-placeholder label {
  font-size: 1.2rem;
  font-weight: bold;
  color: $darkGray;
  display: block;

}
  @define-placeholder labelDark {
    color: $lightGray;
  }

@define-placeholder field {
  background: transparent;
  border: none;
  border-radius: 0;
  padding-left: 0;
  border-bottom: 1px solid $borderColorLight;
  margin-bottom: 1.2rem;
  width: 100%;
}
