@import "base";

.unpinned {}

.toolbar {
  background-color: $darkGray;
  height: 4.8rem;
  line-height: 4.8rem;
  position: fixed;
  top:0;
  left:0;
  right:0;
  border-bottom: 1px solid $borderColorDark;
}

.sidebar, .chat {
  width: $chatWidth;
  position: absolute;
  top: 0;
  height: 4.8rem;
  line-height: 4.8rem;
  background-color: $veryDarkGray;
  border-bottom: 1px solid $borderColorDark;
  padding: 0 1rem;
}

.sidebar {
  left: 0;
}

.chat {
  right: 0;
}
  .chat.unpinned {
    background-color: $darkGray;
  }

.button {
  color: $lightGray;
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  margin-top: 1.2rem;
}
  .button:hover {
    color: white;
    background-color: $red;
    border-radius: 4px;
    cursor: pointer;
  }
  .button.modRight {
    float: right;
  }
