@import 'base';
@import 'input';
@import 'sidebar';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label {
  @extend label;
  include: true;
}

.field {
  @extend input;
  @extend field;
  include: true;
}

.button {
  @extend button;
  margin-top: 1.2rem;
  align-self: flex-start;
  margin-top: auto;

  &:hover {
    @extend buttonHover;
    include: true;
  }
}
