@import 'base';

.menu {
  display: flex;
  flex-direction: column;
  width: 4.8rem;
  padding: 2.5rem 0;
  color: white;
  background-color: $blue;

  :global(.dark) & {
    background-color: $borderColorDark;
  }
}

.menuItem {
  border-left: 3px solid transparent;
  text-align: center;
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;

  &:hover {
    background-color: $lightBlue;
    color: white;
    cursor: pointer;
  }
}

.menuItemSelected {
  border-left: 3px solid $bgPrimary;
}
