@import 'base';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.loading {
  width: 300px;
  background: $bgPrimary;
  border-radius: 5px;
  padding: 2.4rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  align-self: center;
  margin: auto;
  display:flex;
  flex-direction: column;
}

.title {
  font-family: $fontFamilyHeader;
  text-align: center;
  margin: 0;
  margin-bottom: 1.2rem;
  line-height: 3.6rem;
}

.spinner {
  -webkit-animation: spin 1.4s infinite linear;
  animation: spin 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  margin: 1.2rem auto 0;
  width: 80px;
  height: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
