.modal {
  position: fixed;
  top: 50%;
  margin-top: -225px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 450px;
  background-color: #fffbdc;
  border-radius: 5px;
  border: 1px solid #7f7d6e;
  border-bottom: 2px solid #ff974f;
  padding: 2rem;
}

.title {
  font-family: 'Cinzel Decorative';
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
}
  .modal-form-label {
    font-size: 1.2rem;
  }
  input[type=text].modal-form-input, input[type=password].modal-form-input {
    display: block;
  }
  .modal-form-submit {
  }

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 6rem;
  padding: 1.2rem;
  background: #e5e2c6;
  text-align: right;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

