@import 'base';

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  &:global(.dark) {
    background-color: $mapDark;
  }
}

