@import 'base';

.menu {
  display: flex;
  flex-direction: row;
  height: 4.8rem;
  color: black;

  :global(.dark) & {
    background-color: $bgSecondaryDark;
  }

  & *:first-child {
  }
}

.menuItem {
  text-align: center;
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background-repeat: no-repeat;
  background-size: 0 4px;
  background-position: 50% 4.4rem;
  background-image: linear-gradient(black 0%, black 100%);
  transition: background-size 100ms, background-position 100ms;

  &:hover {
    background-color: $lightBlue;
    color: white;
    cursor: pointer;

    :global(.dark) & {
      background-color: $bgPrimaryDark;
    }
  }
}

.menuItemSelected {
  background-size: 100% 4px;
  background-position: 0 4.4rem;
  transition: background-size 100ms, background-position 100ms;
}
