@import 'base';
@import 'input';

.logout {
  margin-top: auto;
}

.themeButtons {
  display: flex;
}
  .themeButton {
    margin-top: auto;
    margin-left: 5px;
    flex: 1;

    &:first-child {
      margin-left: 0;
    }
  }
