@import 'base';
@import 'input';

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2.4rem;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2.4rem;
  line-height: 4.8rem;
  font-family: $fontFamilyHeader;
  color: $fgPrimary;
  line-height: $line-unit;
  margin: 0 0 1.2rem;

  :global(.dark) & {
    color: $fgPrimaryDark;
  }
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  color: $fgSecondary;
  display: block;

  :global(.dark) & {
    font-weight: normal;
    color: $fgSecondaryDark;
  }
}

.field {
  @extend input;
  background: transparent;
  border: none;
  border-radius: 0;
  padding-left: 0;
  border-bottom: 1px solid $borderColorLight;
  margin-bottom: 1.2rem;
  width: 100%;
}
