@import 'base';

.sidebar {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
}
  .menuItem {
    flex: 1;
    border-left: 1px solid $borderColorLight;
    text-align: center;
    height: 3.6rem;
    line-height: 3.6rem;

    &:hover {
      background-color: $red;
      color: white;
      cursor: pointer;
    }

    &:first-child {
      border: none
    }
  }
    .menuItemSelected {
      background-color: $lightGray;
    }

.header {
  border-bottom: 1px solid $borderColorLight;
}
  .headerTitle {
    font-size: 3rem;
    font-family: 'Alice';
    color: $veryDarkGray;
    line-height: $line-unit;
    margin: 0;
  }
  .headerSubtitle {
    font-weight: normal;
    font-size: 1.5rem;
    font-family: 'Cinzel Decorative';
    line-height: $line-unit;
    margin: 0;
  }
