@import 'base';

.message {
  margin: 0.5rem 0 0;
  padding: 0 0 0.5rem;
  border-bottom: 1px solid $borderColorLight;
  display: inline-block;
  width: 100%;
  min-width: 160px;

  &:first-child {
    margin-top: auto;
  }

  :global(.dark) & {
    border-bottom: 1px solid $borderColorDark;
    background-color: $darkBgPrimary;
  }

  :global(.unpinned) & {
    margin: 1rem 0 0;
    padding: 0;
    border-color: transparent;
    border-radius: 5px;
    background-color: $bgPrimary;
    width: auto;
    max-width: 250px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);

    :global(.dark) & {
      background-color: $bgPrimaryDark;
    }
  }
}

.from {
  font-weight: bold;
  font-size: 1.3rem;
  color: $fgSecondary;
  padding: 0.2rem 1rem 0;

  :global(.dark) & {
    color: $fgSecondaryDark;
  }
}

.date {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.text {
  padding: 0 1rem 0.2rem;
}

.result {
  padding: 0 1rem 0.2rem;
}

.roll {
  font-weight: bold;
}

.mod {
  font-weight: bold;
}

.total {
  font-weight: bold;
}
