@import 'base';
@import 'input';

.login {
  width: 300px;
  height: 228px;
  /* 36*2 + 48*2 + 24bottom + 24bottom */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -114px;
  background: $bgPrimary;
  border-radius: 5px;
  padding: 2.4rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: 'Alice';
  text-align: center;
  margin: 0;
  margin-bottom: 1.2rem;
  line-height: 3.6rem;
}

.input {
  @extend input;
  border-radius: 0;
  background: none;
  border: none;
  padding: 0;
  border-bottom: 1px solid $borderColorLight;
  width: 100%;
  margin-bottom: 1.2rem;
}

.button {
  @extend button;
  display: block;
  position: relative;
  margin: 0 auto 0;
}
  .button:hover {
    @extend buttonHover;
  }
