@import "base";
@import "normalize.css";

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family:
/* 1 */ -apple-system, BlinkMacSystemFont,
/* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
/* 3 */ "Helvetica Neue", sans-serif;
  background: $map;
}

body {
  font-size: 1.5em;
  line-height: 2.4rem;
  overflow: hidden;
  color: $fgPrimary;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

:global(.dark) {
  color: $fgPrimaryDark;
}
