@import 'base';
@import 'input';

.settingsOuter {
}

.settings {
}

.logout {
  margin-top: 2.4rem;
}

.themeButtons {
  display: flex;
}
  .themeButton {
    margin-top: auto;
    margin-left: 5px;
    flex: 1;

    &:first-child {
      margin-left: 0;
    }
  }

.field {
  @extend input;
}
